<main role=main>
 <section class="container htlfndr-top-destinations">
 <h2 class=htlfndr-section-title>Админ</h2>
 <div class=htlfndr-section-under-title-line></div>
 <table >
 <tr>
        <th>
 <div class="well well-lg" style="width: 400px"  >
 <h3 style="color:#5fafff"><strong>Генерирај извештај</strong></h3>
 
 <div>
<h5 style="color:#5fafff">Избери хотел:</h5>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Хотел
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="">
    <li><a href="#">Хотел Оринџ Ин</a></li>
    <li><a href="#">Хотел OK</a></li>
    <li><a href="#">Хотел Скопје</a></li>
	<li><a href="#">Хотел ВИП</a></li>
	<li><a href="#">Хотел Сонце</a></li>
  </ul>
</div>
</div>
</br>

<div class="dropdown">
<h5 style="color:#5fafff">Избери тип на извештај:</h5>
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Извештај
    <span class="caret"></span>
  </button>
  
  <ul class="dropdown-menu" aria-labelledby="">
	<li><a href="#">Дневен</a></li>
    <li><a href="#">Месечен</a></li>
    <li><a href="#">Годишен</a></li>
  </ul>
</div>
  
 <div class="btn-group" role="group">
    <button type="button" class="btn btn-success">Генерирај извешрај</button>
  </div>
  

</div>
</th>

<th style="position: absolute ; left:550px"> 
 <div class="well well-lg" style="width: 650px; height:420px;"  >

<h3 style="color:#5fafff"><strong>Прикажи извештај</strong></h3>
</div>
</th>
</tr>
<tr>
<th>
 <div  style="float: right;">
    <a type="button" class="btn btn-danger" href="#/baranjezarevalidiranje">Прати барање за ревалидирање на хотел</a>
  </div>
  </th>
</tr>
 </table>
</section>
	
</main>

