<main role=main>
 <section class="container htlfndr-top-destinations">
 <h2 class=htlfndr-section-title>Админ</h2>
 <div class=htlfndr-section-under-title-line></div>

 <div class="well well-lg"   >
 <h3 style="color:#5fafff"><strong>Пополни барање за ревалидирање на хотел</strong></h3>
 
 <div>
<h5 style="color:#5fafff">Избери хотел:</h5>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Хотел
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Хотел Оринџ Ин</a></li>
    <li><a href="#">Хотел OK</a></li>
    <li><a href="#">Хотел Скопје</a></li>
	<li><a href="#">Хотел ВИП</a></li>
	<li><a href="#">Хотел Сонце</a></li>
  </ul>
</div>
</div>
</br>

<div class="dropdown">
<h5 style="color:#5fafff">Опис:</h5>
 <div class="form-group">
  <textarea class="form-control" rows="5"></textarea>
</div>
</div>
  
 <div class="btn-group" role="group">
    <button type="button" class="btn btn-success">Испрати барање</button>
  </div>
  

</div>


</section>
	
</main>

