
<div class="container">

<div class="page-header">
    <h1>Bootstrap Editable Grid <small>A template, demonstrating a jquery Edtiable Grid component</small></h1>
</div>

<!-- Bootstrap Editable Grid - START -->

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-center">Bootstrap Editable jQuery Grid <span class="fa fa-edit pull-right bigicon"></span></h4>
        </div>
        <div class="panel-body text-center">
            <div id="grid"></div>
        </div>
    </div>
</div>

<!-- you need to include the shieldui css and js assets in order for the grids to work -->
</div>