<main role=main>
    <table id="username" class="table">
        <tr>
            <th><a href="#" id="username1" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a></th>
            <th>Ембг</th>
            <th>Соба</th>
            <th>Датум</th>
            <th>Статус<th>
        </tr>
        <tr>
            <td>Миланчо</td>
            <td>***************</td>
            <td>213</td>
            <td>од 12 до 15 октомври 2016</td>
            <td><td>
        </tr>
        <tr>
            <td>Миланчо</td>
            <td>***************</td>
            <td>213</td>
            <td>од 12 до 15 октомври 2016</td>
            <td></td>
        </tr>
        <tr>
            <td>Миланчо</td>
            <td>***************</td>
            <td>213</td>
            <td>од 12 до 15 октомври 2016</td>
            <td></td>
        </tr>
        <tr>
            <td>Миланчо</td>
            <td>***************</td>
            <td>213</td>
            <td>од 12 до 15 октомври 2016</td>
            <td></td>
        </tr>
    </table>
</main>


<script>
        $(document).ready(function() {
        $('#username1').editable();
    });
</script>