<main role=main>
 <section class="container htlfndr-top-destinations">
 <h2 class=htlfndr-section-title>Техничка подршка</h2>
 <div class=htlfndr-section-under-title-line></div>
 <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
        <h3>Проблем 1</h3>
        <h5>Проблем со логирање</h5>
		<p> Не можам да се логирам иако сум веќе регистриран корисник.</p>
        <a  class="btn btn-primary" role="button" href="#/tehnickapodrskaodgovor">Прочитај повеќе >></a> 
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
        <h3>Проблем 2</h3>
        <h5>Не се вчитуваат сликите</h5>
		<p>Не можам да ги прегледувам сликите од сите хотели. </p>
        <a href="#" class="btn btn-primary" role="button">Прочитај повеќе >></a> 
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
        <h3>Проблем 3</h3>
        <h5>Не можам да се регистирам</h5>
		<p>Вашата страна не ми дозволува да се регистрирам како корисник</p>
        <a href="#" class="btn btn-primary" role="button">Прочитај повеќе >></a> 
      </div>
    </div>
  </div>
</div>
</br>
 <div class="row" >
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
        <h3>Проблем 4</h3>
        <h5>Како да додадам хотел?</h5>
		<p>Регистриран сум како корисник, но не можам да додадам хотел.</p>
        <a href="#" class="btn btn-primary" role="button">Прочитај повеќе >></a> 
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
        <h3>Проблем 5</h3>
        <h5>Резервирање и плаќање.</h5>
		<p> Дали може да резервирам без да платам за резервација?</p>
        <a href="#" class="btn btn-primary" role="button">Прочитај повеќе >></a> 
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
        <h3>Проблем 6</h3>
        <h5>Бришање резервација</h5>
		<p>Како да ја избришам резервацијата за даден хотел?</p>
        <a href="#" class="btn btn-primary" role="button">Прочитај повеќе >></a> 
      </div>
    </div>
  </div>
</div>
</section>
	
</main>