<main role=main>
 <section class="container htlfndr-top-destinations">
 <h2 class=htlfndr-section-title>Одговор од техничка подршка</h2>

<div class="panel panel-info">
  <div class="panel-heading">Проблем со логирање</div>
  <div class="panel-body">
Не можам да се логирам иако сум веќе регистриран корисник.  
  </div>
</div>
  <div>
  <h6> Одговор:</h6>
  <div class="form-group">
  <textarea class="form-control" rows="5"></textarea>
</div>
<div>
 <button type="button" class="btn btn-primary">Прати одговор</button>
 </div>
	
</main>