<main role=main>
 <section class="container htlfndr-top-destinations">
 <h2 class=htlfndr-section-title>Валидаотoр</h2>
 <div class=htlfndr-section-under-title-line></div>
 <div class="well well-lg">
 <h3 style="color:#5fafff"><strong>Хотели за валидирање</strong></h3>
 </br>
 <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=images-Macedonia/vip.jpg />
      <div class="caption">
        <h3>Хотел ВИП</h3>
        <p>Ул. 163 117, 1000 Скопје </br>
оддалеченост од плоштад во Скопје: 1.34 km </br> 
Хотел Отворен: Цела сезона</br>
Хотел соби: 39</p>
        <p><a href="#/prikazihotelzavalidator" class="btn btn-default" role="button">Детали за хотелот</a></p>
      </div>
    </div>
  </div>
  
 
  
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=images-Macedonia/sonce.jpg  />
      <div class="caption">
        <h3>Хотел Сонце</h3>
        <p>Благоја Гојан 43, 1000 Скопје </br>
оддалеченост од плоштад во Скопје: 2.33 km </br>
Хотел Отворен: Цела сезона</br>
Хотел соби: 19</p>
        <p><a href="#" class="btn btn-default" role="button">Детали за хотелот</a></p>
      </div>
    </div>
  </div>
  
     <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=images-Macedonia/stoun.jpg  />
      <div class="caption">
        <h3>Хотел Стоун Бриџ</h3>
        <p>Кеј Димитар Влахов 1, 1000 Скопје  </br>
оддалеченост од плоштад во Скопје: 0.14 km </br>
Хотел Отворен: Цела сезона</br>
Хотел соби: 40</p>
        <p><a href="#" class="btn btn-default" role="button">Детали за хотелот</a></p>
      </div>
    </div>
  </div>
  
</div>
</div>
</div>

</br>
<div class="well well-lg">
 <h3 style="color:#5fafff"><strong>Хотели за ревалидирање</strong></h3>
 </br>
 <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=images-Macedonia/skopje.jpg />
      <div class="caption">
        <h3>Хотел Скопје</h3>
        <p>Андон Дуков 27, 1000 Скопје </br>
оддалеченост од плоштад во Скопје: 1.68 km </br>
Хотел Отворен: Цела сезона</br>
Хотел соби: 15</p>

        <p><a href="#" class="btn btn-default" role="button">Детали за хотелот</a></p>
      </div>
    </div>
  </div>
 
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=images-Macedonia/ok.jpg  />
      <div class="caption">
        <h3>Хотел OK</h3>
        <p>Лондонска 19, 1000 Скопје </br>
оддалеченост од плоштад во Скопје: 3.36 km </br>
Хотел Отворен: Цела сезона</br>
Хотел соби: 27</p>
        <p><a href="#" class="btn btn-default" role="button">Детали за хотелот</a></p>
      </div>
    </div>
  </div>
  
     <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=images-Macedonia/oringin.jpg  />
      <div class="caption">
        <h3>Хотел Оринџ Ин</h3>
        <p>Тодор Паница 2, 1000 Скопје </br>
оддалеченост од плоштад во Скопје: 1.95 km </br>
Хотел Отворен: Цела сезона </br>
Хотел соби: 20</p>
        <p><a href="#" class="btn btn-default" role="button">Детали за хотелот</a></p>
      </div>
    </div>
  </div>
  
</div>
</div>
 <div class="btn-group" role="group" style="float: right;">
    <a type="button" class="btn btn-danger" href="#/prijaviproblem">Пријави проблем</a>
  </div>
</section>
	
</main>